<tr id=<%= "estado_civil_#{estado_civil.id}" %>>
   <td><%= estado_civil.nombre %></td>
   <td><%= link_to 'Mostrar', estado_civil, remote: true, class: "btn btn-primary" %></td>
   <td><%= link_to 'Editar', edit_estado_civil_path(estado_civil), remote: true, class: "btn btn-warning" %></td>
   <td><%= link_to 'Eliminar', estado_civil, method: :delete, remote: true, data: { confirm: 'Esta Seguro?' }, class: "btn btn-danger" %></td>
</tr>     
