<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Softec" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Proyecto Softec" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/x-icon" href="https://lh5.ggpht.com/eT9hFpMYqwgNeEJOjeZK09fpnpOa4HtbHGwBdkN5ARIhZr2mruQUx5icM8gKjGUr34LegKA=s16" />
    <script src="/softec/app/assets/javascripts/barra.js"></script>
    <link href="/softec/app/assets/stylesheet/barra.css" rel="stylesheet" />
    
  </head>
  <body>
    <header>
  	<%= render 'layouts/navigation' %>
  	  	<%= render 'layouts/navigation_links' %>
    </header>
    <main role="main" class="container">
   	<div class="row">
        	<div class="col-lg-12">
          	<%= render 'layouts/messages' %>
          	<%= yield %>
       	</div>
   	</div>

   	<%= render 'layouts/footer' %>
    </main>
    <%= render_lazybox %> 
  </body>
</html>
